@using BlogApp.WEB.Configurations;
@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<WebsiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
<div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
        <div class="col-md-4 logo text-left">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="fab fa-linode"></i> @websiteInfo.MenuTitle
            </a>
        </div>


        <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
            @if (User.Identity.IsAuthenticated)
            {
                <span>Hoşgeldiniz @User.Identity.Name |</span>
                <span>
                    <a asp-area="null" asp-controller="Auth" asp-action="LogOut">
                        <i class="fas fa-sign-out-alt"></i> Çıkış Yap
                    </a>
                </span>
            }
            else
            {
                <span class="mx-lg-4 mx-md-2  mx-1">
                    <a asp-area="null" asp-controller="Auth" asp-action="LogIn">
                        <i class="fas fa-sign-in-alt"></i> Giriş Yap
                    </a>
                </span>

                <span>
                    <a asp-area="null" asp-controller="Auth" asp-action="Register">
                        <i class="far fa-user"></i> Kayıt Ol
                    </a>
                </span>
            }

        </div>

        <div class="col-md-4 log-icons text-right">

            <ul class="social_list1 mt-3">

                <li>
                    <a href="#" class="facebook1 mx-2">
                        <i class="fab fa-facebook-f"></i>

                    </a>
                </li>
                <li>
                    <a href="#" class="twitter2">
                        <i class="fab fa-twitter"></i>

                    </a>
                </li>
                <li>
                    <a href="#" class="dribble3 mx-2">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="pin">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>