<div class="header_top" id="home">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="index.html">
						Anasayfa
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">Hakkımızda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html">Bloglar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html">İletİşİm</a>
				</li>

			</ul>




		</div>
	</nav>

</div>
