@model BlogApp.Core.DTOs.Concrete.UserRegisterDto
@{
	Layout = "_UserLoginLayout";
	ViewBag.Title = "Kayıt Ol";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class="fas fa-house-user"></span> Kayıt Ol</h3></div>
                <div class="card-body">
                    <form asp-controller="Auth" asp-action="Register" asp-area="null" id="form-user-register" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Kullanıcı Adı</label>
                                <input class="form-control" asp-for="Username" required="" placeholder="Lütfen kullanıcı adı giriniz." />
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-Posta</label>
                                <input type="email" class="form-control" asp-for="Email" required="" placeholder="Lütfen e-posta adresi giriniz." />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Parola</label>
                                <input type="password" class="form-control" asp-for="Password" required="" placeholder="Lütfen şifre giriniz." />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Parola Tekrarı</label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword" required="" placeholder="Lütfen şifre tekrarı giriniz." />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ad</label>
                                <input type="text" class="form-control" asp-for="Firstname" required="" placeholder="Lütfen ad giriniz." />
                                <span class="text-danger" asp-validation-for="Firstname"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Soyad</label>
                                <input type="text" class="form-control" asp-for="Lastname" required="" placeholder="Lütfen soyad giriniz." />
                                <span class="text-danger" asp-validation-for="Lastname"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefon Numarası</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Lütfen telefon numarası giriniz." />
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cinsiyet</label>
                                <select class="form-control" asp-for="GenderId">
                                    <option value="1">Erkek</option>
                                    <option value="2">Kız</option>
                                    <option value="3" selected>Belirtilmedi</option>
                                </select>
                                <span class="text-danger" asp-validation-for="GenderId"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Hakkında</label>
                                <textarea class="form-control" asp-for="About" required="" placeholder="Lütfen hakkında bilgisi giriniz." rows="4"></textarea>
                                <span class="text-danger" asp-validation-for="About"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>GitHub Profil</label>
                                <input type="text" class="form-control" asp-for="GitHubLink" placeholder="Lütfen github profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="GitHubLink"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Website</label>
                                <input type="text" class="form-control" asp-for="WebsiteLink" placeholder="Lütfen website link'i giriniz." />
                                <span class="text-danger" asp-validation-for="WebsiteLink"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Profil Fotoğrafı</label>
                                <input type="file" accept="image/*" class="form-control-file" asp-for="ImageFile" />
                                <span class="text-danger" asp-validation-for="ImageFile"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
                            <button class="btn btn-primary" type="submit"><span class="fas fa-sign-in-alt"></span> Kayıt Ol</button>
                        </div>
                    </form>

                </div>
                <div class="card-footer text-center">
                    <p>Zaten kayıtlıysanız <a asp-controller="Auth" asp-action="LogIn" asp-area="null">giriş yapın</a></p>
                </div>
            </div>
        </div>
    </div>
</div>