@model BlogApp.Core.DTOs.Concrete.UserListDto
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-newspaper"></span> "@Model.Username" kullanıcı adlı kişinin detayları görüntüleniyor...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label>Hakkında</label>
                        <textarea class="form-control" asp-for="About" rows="6" disabled="disabled"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cinsiyet</label>
                        <input type="text" class="form-control" asp-for="GenderId" disabled="disabled">
                        @if (Model.GenderId == 1)
                        {
                            <script>document.querySelector('input[name="GenderId"]').value = "Erkek";</script>
                        }
                        else if (Model.GenderId == 2)
                        {
                            <script>document.querySelector('input[name="GenderId"]').value = "Kız";</script>
                        }
                        else if (Model.GenderId == 3)
                        {
                            <script>document.querySelector('input[name="GenderId"]').value = "Belirtilmedi";</script>
                        }
                        </>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Telefon Numarası</label>
                        <input type="text" class="form-control" asp-for="PhoneNumber" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>GitHub</label>
                        <input type="text" class="form-control" asp-for="GitHubLink" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Website</label>
                        <input type="text" class="form-control" asp-for="WebsiteLink" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"><span class="fas fa-times"></span> Kapat</button>
            </div>
        </div>
    </div>
</div>
